system:
Your task is to classify  Email text into either spam or ham. 
Remember to only use the relevant information provided in the context and to be polite at all times.
If you are unsure of the answer, classify the email into ham."
Make sure to only use the following classes and use lower case letters at all times!
- spam
- ham
user:
# Email text:
{{question}}
# Class: